.App {
  text-align: center;
  width: 100%;
  height: -webkit-fill-available;
  position: absolute;
  display: block;
}

.App.theme1 {
  background-color: hsl(222, 26%, 31%); 
  color: white;
  height: auto;
}

.App.theme2 {
  background-color: hsl(0, 0%, 90%); 
  color: hsl(60, 10%, 19%);
}

.App.theme3 {
  background-color: hsl(268, 75%, 9%); 
  color: hsl(52, 100%, 62%);
}

.name {
    text-align: left;
    padding: 0;
}

.theme-row {
    margin: 3% auto auto;
	width: 500px;
	text-align: center;
    padding: 1% 0;
	font-size: 14px;
}

.theme-selector {
    padding: 0;
}

#theme-slider {
	width: 40px;
}

input[type=range]:focus{
    outline: none;
}

input[type=range]{
    -webkit-appearance: none;
	background: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 15px;
    border: hidden;
    border-radius: 10px;
	padding-top: 2px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 11px;
    width: 11px;
    border-radius: 50%;
}

input[type=range].theme1::-webkit-slider-runnable-track {
	background-color: hsl(223, 31%, 20%);
}

input[type=range].theme1::-webkit-slider-thumb {
	background: hsl(6, 63%, 50%);
}

input[type=range].theme2::-webkit-slider-runnable-track {
	background-color: hsl(0, 5%, 81%);
}

input[type=range].theme2::-webkit-slider-thumb {
	background: hsl(25, 98%, 40%);
}

input[type=range].theme3::-webkit-slider-runnable-track {
	background-color: hsl(268, 71%, 12%);
}

input[type=range].theme3::-webkit-slider-thumb {
	background: hsl(176, 100%, 44%);
}

@media screen and (max-width: 556px) {
	.theme-row {
		width: 90%;
		margin-top: 10%;
	}
}