.calculator {
	margin: auto auto 0;
	width: 500px;
	text-align: left;
}

.calculator:focus{
	border: hidden;
	outline: none;
}

.name {
	font-size: 30px;
}

.screen {
	font-size: 45px;
	text-align: right;
	padding: 3% 5%;
	margin: 1% 0;
	border-radius: 10px;
}

.screen.scroll {
	overflow-y: scroll;
	word-wrap: break-word;
}

.screen.theme1 {
	background-color: hsl(224, 36%, 15%);
	color: white;
}

.screen.theme2 {
	background-color: hsl(0, 0%, 93%);
}

.screen.theme3 {
	background-color: hsl(268, 71%, 12%);
}

@media screen and (max-width: 556px) {
	.calculator {
		width: 90%;
	}
}

.panel {
	margin: 3% 0;
	border-radius: 15px;
	padding: 2.5%;
}

.button {
	padding: 2.5%;
}

.key {
	width: 100%;
	border-radius: 10px;
	height: 100%;
	padding: 3% 0;
	box-shadow: 0px 3px;
	border: 0;
}

.clear {
	font-size: 20px;
}

.panel.theme1 {
	background-color: hsl(223, 31%, 20%);
}

.key.theme1 {
	background-color: hsl(30, 25%, 89%);
	box-shadow: 0 5px hsl(28, 16%, 65%);
	color: hsl(221, 14%, 31%);
}

.clear.theme1 {
	background-color: hsl(225, 21%, 49%);
	box-shadow: 0 5px hsl(224, 28%, 35%);
	color: white;
}

.equal.theme1 {
	background-color: hsl(6, 63%, 50%);
	box-shadow: 0 5px hsl(6, 70%, 34%);
}

.panel.theme2 {
	background-color: hsl(0, 5%, 81%);
}

.key.theme2 {
	background-color: hsl(45, 7%, 89%);
	box-shadow: 0 5px hsl(35, 11%, 61%);
	color: hsl(60, 10%, 19%);
}

.clear.theme2 {
	background-color: hsl(185, 42%, 37%);
	box-shadow: 0 5px hsl(185, 58%, 25%);
	color: white;
}

.equal.theme2 {
	background-color: hsl(25, 98%, 40%);
	box-shadow: 0 5px hsl(25, 99%, 27%);
}

.panel.theme3 {
	background-color: hsl(268, 71%, 12%);
}

.key.theme3 {
	background-color: hsl(268, 47%, 21%);
	box-shadow: 0 5px hsl(290, 70%, 36%);
	color: hsl(52, 100%, 62%);
}

.clear.theme3 {
	background-color: hsl(281, 89%, 26%);
	box-shadow: 0 5px hsl(285, 91%, 52%);
	color: white;
}

.equal.theme3 {
	background-color: hsl(176, 100%, 44%);
	box-shadow: 0 5px hsl(177, 92%, 70%);
	color: hsl(198, 20%, 13%);
}